/* VARIABLES */
:root{
    --font:'Poppins',sans-serif;
    --sky: rgb(91, 168, 199);
    --black: #000;
    --white: #fff;
}
/* BASIC STYLES */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;
    font-family:var(--font);
}
main,.up{
    margin:0 auto;
    width: 80%
}
a{
    text-decoration:none;
    color: var(--sky);
}

/* HEADER */

header{
    background-color: var(--black);
    color: var(--white);
}
.up{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.up__h1{
    font-size: 3.5rem;
    margin-left:1rem;
}
.up__img{
    height: 4.5rem;
}

/* AGREGAR CUPONES */

.coupons{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.coupons-add{
    width:35%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid rgb(23, 23, 143);
}
.coupon-add__input{
    display:block;
    width: 80%;
    margin: 1rem auto;
    border-radius: 3px;
}

.newcoupon{
    width: 50%;
    margin: 2rem auto;
}
.newcoupon-table{
    margin: 0 auto;
    border-spacing: 0;
}
.newcoupon-tr__th,.newcoupon-tr__td{
    font-weight: bold;
    padding: 1rem;
    border: 2px solid rgb(106, 106, 163);
}
.coupon-add__button{
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    width: 40%;
    border: 2px solid rgb(106, 106, 163);
    border-radius: 1rem;
    padding: 1rem 0;
}
/* CALCULADORA */

.maintext{
    text-align: center;
    margin: 2rem auto;
}
.maintext__p{
    font-size: 2rem;
    text-align: justify;
}
.card-calculadora-form{
    display: flex;
    flex-direction:column;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: 0px 2px 18px -11px;
    border: 2px solid black;
    border-radius: 1rem;
    background-color:rgb(23, 23, 143);
    gap: 2rem;
    width: 50%;

    color: var(--white);
}
.card-calculadora-form__label{
    color:rgba(255, 255, 255, 0.692);
    text-align: center;
    font-weight:bold;
}
.card-calculadora-form__input{
    width:95%;
    margin: 0 auto;
}
.card-calculadora-form__button{
    width: 15rem;
    margin: 0 auto;
    padding: 1rem 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--white);
    border: 2px solid white;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0);
}

.card-calculadora-resultado{
    font-weight: bold;
    text-align: center;
}

/* FOTTER */

footer{
    text-align: center;
    font-size: 2rem;
    padding: 4rem 0;
}
.footer__a{
    font-weight: bold;
    color:rgb(23, 23, 143);
}

/* RESPONSIVE */

@media (max-width:937px){
    .coupons-add{
        width:60%;
    }
}
@media (max-width:723px){
    .up__h1{
        font-size: 2.2rem;
    }
    .coupons-add, .card-calculadora-form{
        width:100%;
    }
}
@media (max-width:500px){
    .newcoupon{
        width:100%;
    }
}